# Assignment 2

## Question B and C

### Preparing the Data

Make sure all needed imports are imported

In [5]:
## Import necessary libraries

import ipaddress
import pandas as pd
import time
import bz2
import os
import sys
import json
import pickle 
import numpy as np

#### Reading into IP dataset

In [2]:
IPdata = pd.read_csv("Data/IP/IP2LOCATION-LITE-DB1.csv", header = None)

In [3]:
IPdata.columns = ["startIP", "finalIP", "cc", "Country"]

#### Preparing Probe and AS dataset, filtered

In [4]:
countryCodesEU = ["AT", "BE", "BG", "CY", "CZ", "DE", "DK", "EE", "ES", "FI",
"FR", "GB", "GR", "HR", "HU", "IE", "IT", "LT", "LU", "LV",
"MT", "NL", "PL", "PT", "RO", "SE", "SI", "SK"]

len(countryCodesEU)

28

In [5]:
# Open probe dataset

with open('Data/probe_dataset.pkl', 'rb') as probe_data:
    data = pickle.load(probe_data)
    

# Open AS dataset

with open('Data/AS_dataset.pkl', 'rb') as AS_data:
    data2 = pickle.load(AS_data)

In [6]:
# Filter AS dataset with only EU ASN
# Filter AS dataset on "hosting" at type

EUdata = data2[data2['Country'].isin(countryCodesEU)]
EUdata2 = EUdata[EUdata["type"] == "hosting"]


# Filter probes in probe dataset that occur in AS dataset

probs = data[data['ASN'].isin(EUdata2['ASN'])]

In [7]:
print(len(probs))
probs[:5]

366

   prb_id      ASN
27     57  AS20621
42     92  AS12859
47    107  AS25596
61    142  AS12637
62    144  AS12637

### Not necessary to run the following chunks of code ###

**Format of string from RIPE db**

{'fw': 4900, 'lts': 19, 'dst_name': '192.203.230.10', 'af': 4, 'dst_addr': '192.203.230.10', 'src_addr': '192.168.42.168', 'proto': 'ICMP', 'ttl': 56, 'size': 20, 'result': [{'rtt': 19.971325}, {'rtt': 17.799955}, {'rtt': 16.52825}], 'dup': 0, 'rcvd': 3, 'sent': 3, 'min': 16.52825, 'max': 19.971325, 'avg': 18.0998433333, 'msm_id': 1013, 'prb_id': 10046, 'timestamp': 1582157156, 'msm_name': 'Ping', 'from': '82.217.84.104', 'type': 'ping', 'step': 240}

#### Reading from RIPE db ####

In [ ]:
# Probe id is needed ("prb_id")
# Ip adress destination("dest_addr")
# Note that RIPE dataset also supports IPv6 adresses
# Filter only IPv4
# but first check if dst_addr exists in entry

dst_addr = []
probe_id = []
avg = []
ASN = []

filenr = 17

filename = "Data/RIPE/ping-2020-02-20T" + str(filenr).zfill(2) + "00.bz2"

begin = time.time()

with bz2.BZ2File(filename, "rb") as file:
    for line in file:
        jsonline = json.loads(line)
        if 'dst_addr' in jsonline and 'avg' in jsonline and 'prb_id' in jsonline and ':' not in jsonline["dst_addr"] and jsonline["prb_id"] in probs["prb_id"].values and jsonline["avg"] > 0:
            probe_id.append(jsonline["prb_id"])
            avg.append(jsonline["avg"])
            dst_addr.append(jsonline["dst_addr"])
            
end = time.time()

print("Took " + str((end-begin)/60) + " minutes")

In [ ]:
# Few checking mechanisms

print(len(dst_addr),len(probe_id), (len(avg)))

#### Converting into pandas DF ####

In [ ]:
# Write raw data to different lists

raw_data = pd.DataFrame()
raw_data['probe'] = probe_id
raw_data['IP_dest'] = dst_addr
raw_data['latency'] = avg

In [ ]:
raw_data.tail()

#### Writing Pandas DF into textfile ####

In [ ]:
### *** PLZ CHECK WHETHER FILENR MATCHES *** ###

text_file = open("Data/WrittenData/half-output-" + str(filenr) + ".txt", "w")

for row in raw_data.values:
    text_file.write(str(row[0]) + "," + str(row[1]) + "," + str(row[2]) + "\n")
    
text_file.close()

### Start running from here ###

#### Reading from textfiles - Process all stored raw data from here ####

In [8]:
### RUNRUNRUN

# Reading the text file 
filenr = 0

latency_0 = pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_0.columns = ["probe","IP_dest","latency"]


# Reading the text file 
filenr = 1

latency_1 = pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_1.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 2

latency_2 = pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_2.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 3

latency_3 = pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_3.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 4

latency_4 = pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_4.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 5

latency_5 = pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_5.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 6

latency_6= pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_6.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 7

latency_7 = pd.read_csv("WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_7.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 8

latency_8= pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_8.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 9

latency_9= pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_9.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 10

latency_10 = pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_10.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 11

latency_11= pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_11.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 12

latency_1b= pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_1b.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 13

latency_13= pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_13.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 14

latency_14 = pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_14.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 15

latency_15= pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_15.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 16

latency_16= pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_16.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 17

latency_17 = pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_17.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 18

latency_18 = pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_18.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 19

latency_19= pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_19.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 20

latency_20= pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_20.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 21

latency_21= pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_21.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 22

latency_2b = pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_2b.columns = ["probe","IP_dest","latency"]

# Reading the text file 
filenr = 23

latency_23 = pd.read_csv("Data/WrittenData/half-output-" + str(filenr) + ".txt", sep=",", header=None)
latency_23.columns = ["probe","IP_dest","latency"]

In [9]:
# Merge the latency and probs dataset to get ASN

latency_02 = pd.merge(latency_0, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_12 = pd.merge(latency_1, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_22 = pd.merge(latency_2, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_32 = pd.merge(latency_3, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_42 = pd.merge(latency_4, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_52 = pd.merge(latency_5, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_62 = pd.merge(latency_6, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_72 = pd.merge(latency_7, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_82 = pd.merge(latency_8, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_92 = pd.merge(latency_9, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_102 = pd.merge(latency_10, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_112 = pd.merge(latency_11, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_1b2 = pd.merge(latency_1b, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_132 = pd.merge(latency_13, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_142 = pd.merge(latency_14, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_152 = pd.merge(latency_15, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_162 = pd.merge(latency_16, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_172 = pd.merge(latency_17, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_182 = pd.merge(latency_18, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_192 = pd.merge(latency_19, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_202 = pd.merge(latency_20, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_212 = pd.merge(latency_21, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_2b2 = pd.merge(latency_2b, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')
latency_232 = pd.merge(latency_23, probs, left_on = 'probe', right_on = 'prb_id', how = 'left')

In [10]:
del latency_02['prb_id']
del latency_12['prb_id']
del latency_22['prb_id']
del latency_32['prb_id']
del latency_42['prb_id']
del latency_52['prb_id']
del latency_62['prb_id']
del latency_72['prb_id']
del latency_82['prb_id']
del latency_92['prb_id']
del latency_102['prb_id']
del latency_112['prb_id']
del latency_132['prb_id']
del latency_142['prb_id']
del latency_152['prb_id']
del latency_162['prb_id']
del latency_172['prb_id']
del latency_182['prb_id']
del latency_192['prb_id']
del latency_202['prb_id']
del latency_212['prb_id']
del latency_232['prb_id']
del latency_2b2['prb_id']
del latency_1b2['prb_id']

In [11]:
print(len(latency_02), len(latency_2b2), len(latency_232), len(latency_192), len(latency_102))

700162 698747 698297 697393 699233

concat all dfs

In [12]:
df_list = [latency_02, latency_12, latency_22, latency_32, latency_42, latency_52, latency_62, latency_72, latency_82, latency_92, latency_102, latency_112, latency_1b2, latency_132, latency_142, latency_152, latency_162, latency_172, latency_182, latency_192, latency_202, latency_212, latency_2b2, latency_232]
result = pd.concat(df_list, ignore_index=True)

print(len(result))
result.tail()

16784647

          probe         IP_dest     latency      ASN
16784642  34746   192.36.148.17   28.633652  AS35540
16784643  34746  192.203.230.10   19.987595  AS35540
16784644  11608    37.10.126.72  145.353870  AS25596
16784645  11608       5.28.0.17   29.181803  AS25596
16784646  34746     79.99.32.11   27.776007  AS35540

In [13]:
tussen = result[result['ASN'] == "AS12552"]

In [14]:
iptussen = tussen['IP_dest'].value_counts()

In [15]:
iptussen.head()

185.139.168.19    360
192.228.79.201    360
198.97.190.53     360
193.180.242.86    360
193.0.0.164       360
Name: IP_dest, dtype: int64

In [16]:
print(tussen["IP_dest"])

1283            199.7.91.13
2954           92.47.60.130
2955             198.41.0.4
2988          45.76.126.106
2989         192.228.79.201
2990         193.138.218.50
9847          188.241.28.37
9848            193.0.19.60
9849          88.204.175.78
9850         193.180.242.86
13357        192.228.79.201
13358         207.148.2.169
19277        87.201.194.242
19278       104.237.152.132
19279         149.248.50.86
19280         192.36.148.17
19281         88.204.175.78
22673         149.248.50.86
22677             193.0.9.1
22678         192.36.148.17
22679           193.0.19.60
22680         188.241.28.37
45664           193.0.19.60
45665          92.47.60.130
45669         192.58.128.30
45670         62.80.227.146
45671          193.0.14.129
45672        193.180.242.86
48159        193.138.218.50
48160         207.148.2.169
                 ...
16754367    213.133.109.134
16754368      198.97.190.53
16754880       92.47.60.130
16754881      207.148.2.169
16754882      198.97.190.53
16754884      149.248.50.86
16754885       202.12.27.33
16754886        199.7.83.42
16754887      88.204.175.78
16755788     192.228.79.201
16755796      149.248.50.86
16759736     192.203.230.10
16759737      198.97.190.53
16771055     192.203.230.10
16775100      139.162.27.28
16775155      192.36.148.17
16775214          193.0.9.1
16775215      13.53.120.216
16775216    104.237.152.132
16775217        193.0.19.59
16775218      188.241.28.37
16779742       78.46.48.134
16779743    213.133.109.134
16779744      207.148.2.169
16781703       193.0.14.129
16781704        193.0.19.59
16781705      192.36.148.17
16781706      88.204.175.78
16781707        192.5.5.241
16781708       202.12.27.33
Name: IP_dest, Length: 12045, dtype: object

In [17]:
ipip = tussen[tussen['IP_dest'] ==  "87.201.194.242"]

In [18]:
ipip.head(3)

        probe         IP_dest     latency      ASN
19277   32033  87.201.194.242  166.512225  AS12552
109148  32033  87.201.194.242  168.745993  AS12552
111528  32033  87.201.194.242  173.516102  AS12552

In [19]:
sum = 0
for i in ipip["latency"].values:
    sum += i
print(sum)

60232.11660750078

In [20]:
sum/len(ipip["latency"])

167.3114350208355

#### Group and aggregate dataset in order to only extract IP's needed ####

In [40]:
l4 = result.groupby(['ASN','IP_dest'])['latency'].mean()
set_df = l4.to_frame()
set_df["ASN_IP"] = set_df.index
print(len(set_df))
set_df.head()

40578

                            latency                      ASN_IP
ASN     IP_dest
AS12552 104.115.82.81     33.485090    (AS12552, 104.115.82.81)
        104.237.152.132  183.737989  (AS12552, 104.237.152.132)
        104.86.111.152    46.770547   (AS12552, 104.86.111.152)
        13.107.4.50       16.428398      (AS12552, 13.107.4.50)
        13.53.120.216     18.164893    (AS12552, 13.53.120.216)

Function below shows that the groupby and mean function result is same avg latency.

In [41]:
set_df.loc["AS12552"].loc["87.201.194.242"]

latency                      167.311
ASN_IP     (AS12552, 87.201.194.242)
Name: 87.201.194.242, dtype: object

In [42]:
# Append separate IP_COL

ip = []
ASN = []

for i in range(len(set_df["ASN_IP"])):
    ASN.append(set_df["ASN_IP"][i][0])
    ip.append(set_df["ASN_IP"][i][1])

In [43]:
set_df["ASN"] = ASN
set_df["to_IP"] = ip

In [44]:
ASN_IP = set_df.reset_index(drop=True)
print(str(len(ASN_IP)))
ASN_IP.head()

40578

      latency                      ASN_IP      ASN            to_IP
0   33.485090    (AS12552, 104.115.82.81)  AS12552    104.115.82.81
1  183.737989  (AS12552, 104.237.152.132)  AS12552  104.237.152.132
2   46.770547   (AS12552, 104.86.111.152)  AS12552   104.86.111.152
3   16.428398      (AS12552, 13.107.4.50)  AS12552      13.107.4.50
4   18.164893    (AS12552, 13.53.120.216)  AS12552    13.53.120.216

In [45]:
# Change order of columns

ASN_IP = ASN_IP.reindex(columns=['ASN','to_IP','latency','ASN_IP'])
print(len(ASN_IP))
ASN_IP.head()

40578

       ASN            to_IP     latency                      ASN_IP
0  AS12552    104.115.82.81   33.485090    (AS12552, 104.115.82.81)
1  AS12552  104.237.152.132  183.737989  (AS12552, 104.237.152.132)
2  AS12552   104.86.111.152   46.770547   (AS12552, 104.86.111.152)
3  AS12552      13.107.4.50   16.428398      (AS12552, 13.107.4.50)
4  AS12552    13.53.120.216   18.164893    (AS12552, 13.53.120.216)

Now the Dataframe is fully prepared for binary search function! the dataframe necessary is called **'ASN_IP'**. Keep this in mind.

### Do not run the upcoming chunks of code ###

#### Binary Search Algorithm Complexity ####

The Binary Search Algorithm has a complexity of O(logn). This means, since the IP dataset has **174972** entries, there are at maximum log(174972)/log(2) = **17.42** iterations needed to find the range of the decimal IP-number. The number of iterations needed must be therefore lower then or equal to 17.

 The complexity is explained in another file as requested per feedback

**'IP_list'** is now the list that contains the ip and country pair. We will use this list to match the country of the IP-adress into the other DF **'ASN_IP'**

In [ ]:
import time

## Check whether dest_addr occurs in IP dataset
# First convert to decimal IP
# Then use binary search to look up the range
# Then Check if range is from a European country
# Store only IP'adresses from European Country's

ipList = []

### **** Make sure this is the right filenr *** ###

start2 = time.time()

log = 0
for i in ASN_IP["to_IP"]:
    log += 1
    index = binarySearch(int(ipaddress.ip_address(i)), list(IPdata["startIP"]))[0]
    if IPdata.iloc[index]['cc'] in countryCodesEU:
        ipList.append([i, IPdata.iloc[index]['Country']])

                
end2 = time.time()
dur = (end2-start2)/60
print("Running took: " + str(dur) + " Minutes")

Running through binary algorithm, we obtain IP and Country dataset - "ipList"

In [ ]:
len(ipList)

In [ ]:
# Convert ipList to dataframe

ipList = pd.DataFrame(ipList)
ipList.columns = ['IP', 'Country_dest']

In [ ]:
print(len(ipList))
ipList.head()

In [ ]:
ipList.tail()

In [ ]:
filename = 'final-v2'

text_file = open("Data/WrittenData/ip/output-" + filename + ".txt", "w")

for row in ipList.values:
    text_file.write(str(row[0]) + "," + str(row[1]) +"\n")
    
text_file.close()

### Start running again ###

In [46]:
# Reading the text file and obtaining dataframe
filename = 'final-v2'
latency3 = pd.read_csv("Data/WrittenData/output-" + filename + ".txt", sep=",", header=None)
latency3.columns = ["IP_dest","Country"]

In [47]:
print(len(latency3))
latency3.head()

20555

          IP_dest      Country
0   104.115.82.81      Germany
1  104.86.111.152  Netherlands
2   13.53.120.216       Sweden
3   185.104.128.1  Netherlands
4  185.139.168.19      Finland

In [48]:
# Refresh ASN_IP df created

print(len(ASN_IP))
ASN_IP.head()

40578

       ASN            to_IP     latency                      ASN_IP
0  AS12552    104.115.82.81   33.485090    (AS12552, 104.115.82.81)
1  AS12552  104.237.152.132  183.737989  (AS12552, 104.237.152.132)
2  AS12552   104.86.111.152   46.770547   (AS12552, 104.86.111.152)
3  AS12552      13.107.4.50   16.428398      (AS12552, 13.107.4.50)
4  AS12552    13.53.120.216   18.164893    (AS12552, 13.53.120.216)

Now, finally merge **ASN_IP** with **ipList / latency3**. The resulted dataFrame should have the same length as the initially generated ipList.

In [49]:
between = pd.merge(ASN_IP, latency3, left_on = "to_IP", right_on="IP_dest", how="left")

Duplicates and Na occur due to merge and are removed

In [50]:
between2 = between.dropna()
len(between2)

1107457

In [51]:
fin_df = between2.drop_duplicates()
del fin_df["IP_dest"]
del fin_df["ASN_IP"]
len(fin_df)

20555

The above length need to match the initial length of the df readed from the output-filename file. As one may see, it indeed matches the initial lenght of the ipList. From this dataset, we can obtain country-AS matrix.

In [52]:
fin_df.tail()

            ASN           to_IP    latency      Country
1127195  AS9211  92.223.105.240  12.547365   Luxembourg
1127255  AS9211    92.38.184.82  13.432377  Netherlands
1127314  AS9211  93.174.194.183  63.206677      Finland
1127373  AS9211  95.100.196.146  12.607652       Sweden
1127427  AS9211    95.217.19.69  26.767425      Germany

### Do not run chunk of code below ###

In [ ]:
#The dataset is saved in the file below

filename = 'final-v2'
text_file = open("Data/WrittenData/output-df-" + filename + ".txt", "w")

for row in fin_df.values:
    text_file.write(str(row[0]) + "," + str(row[1]) + "," + str(row[2]) + "," + str(row[3]) +"\n")
    
text_file.close()

### Start running ###

In [6]:
filename = 'final-v2'
df_fin = pd.read_csv("Data/WrittenData/output-df-" + filename + ".txt", sep=",", header=None)
df_fin.columns = ["ASN","to_IP","latency", "Country"]

In [7]:
df_final = df_fin.pivot_table('latency', 'Country', 'ASN')

The country-AS matrix required is below

In [8]:
df_final

ASN,AS12552,AS12637,AS12676,AS12824,AS12859,AS12876,AS12993,AS13287,AS15401,AS15510,...,AS61272,AS62000,AS62282,AS62416,AS6724,AS8304,AS8315,AS8560,AS8893,AS9211
Country,,,,,,,,,,,,,,,,,,,,,
Austria,36.619357,41.767681,26.752958,69.742375,20.700903,23.581590,76.030970,28.567640,29.179260,86.795424,...,25.025426,30.225441,92.248862,65.340133,27.720250,83.395871,17.718057,16.038609,32.706182,60.773717
Belgium,50.259722,71.802510,12.456738,30.749242,10.999918,7.454970,35.651291,34.380554,16.864881,35.439629,...,30.459532,11.855867,28.136988,39.106969,18.569430,13.062580,31.738229,9.298280,18.454953,10.063764
Bulgaria,NaN,NaN,37.829343,37.680070,41.307183,NaN,59.449729,NaN,49.284187,54.443460,...,52.379982,40.181855,NaN,68.995896,45.403018,NaN,42.606843,35.238316,41.146558,34.102427
Croatia,NaN,18.530777,28.010374,NaN,29.112300,NaN,NaN,NaN,NaN,NaN,...,NaN,22.432474,NaN,56.460065,50.835469,NaN,NaN,29.258586,33.511693,NaN
Cyprus,NaN,NaN,143.658009,NaN,140.625904,NaN,NaN,143.423033,NaN,NaN,...,NaN,136.160994,NaN,144.597993,150.948461,NaN,NaN,147.901064,148.636264,NaN
Czechia,NaN,NaN,14.394430,NaN,19.078124,NaN,NaN,47.860631,NaN,NaN,...,NaN,19.361433,NaN,48.806327,22.877981,32.066743,NaN,14.882686,19.342902,NaN
Denmark,26.063465,NaN,19.192033,41.878052,18.472366,NaN,29.383255,NaN,NaN,NaN,...,16.168937,27.097054,NaN,51.353674,26.224192,NaN,NaN,22.390326,18.280377,10.862377
Estonia,NaN,NaN,33.229430,NaN,34.570361,NaN,5.737928,NaN,NaN,NaN,...,14.424253,35.949329,NaN,65.412553,36.916547,NaN,NaN,38.298333,34.995793,NaN
Finland,23.065994,NaN,29.330239,55.988755,34.504551,47.407977,33.284495,NaN,NaN,45.963292,...,29.512760,39.066901,12.761289,62.136370,37.623424,NaN,31.094278,31.401566,29.218804,63.206677
France,NaN,42.549810,17.585874,39.891105,18.830226,5.202024,39.500115,27.765986,13.821171,20.822145,...,60.578565,7.102464,35.682180,41.324725,28.000269,10.886749,21.902826,15.516868,23.831937,20.629544
Germany,30.222977,54.150232,12.624867,26.404277,18.568646,49.439063,30.324119,45.706560,23.135293,34.551735,...,33.149863,20.818987,37.865944,46.830241,18.481441,23.518799,12.961423,11.886423,15.423003,12.892465
Greece,NaN,53.783478,57.916666,63.704095,54.528539,NaN,NaN,NaN,NaN,NaN,...,NaN,47.635565,NaN,80.384717,69.987071,NaN,NaN,52.839691,58.172121,NaN
Hungary,NaN,NaN,21.582174,NaN,29.086305,NaN,NaN,NaN,NaN,NaN,...,NaN,20.378149,NaN,54.371187,30.948241,NaN,NaN,26.331135,27.012627,NaN
Ireland,NaN,NaN,23.771991,NaN,21.114941,NaN,NaN,NaN,NaN,NaN,...,NaN,19.520532,49.043383,44.099271,34.750092,27.510948,NaN,26.321499,28.018682,26.337086
Italy,NaN,20.331374,23.764958,42.759796,28.119203,17.009552,NaN,28.529581,NaN,NaN,...,40.096657,26.152954,42.278158,54.922534,32.669336,NaN,38.146499,23.816638,26.632704,26.932101
Latvia,NaN,NaN,31.816563,NaN,33.047421,NaN,0.962479,NaN,NaN,NaN,...,10.863689,42.017818,5.814834,65.647517,34.005253,NaN,NaN,30.965760,30.374862,NaN
Lithuania,66.238023,NaN,30.541257,NaN,33.348869,NaN,NaN,NaN,NaN,NaN,...,6.963156,44.510002,0.693350,66.672644,27.052701,NaN,NaN,31.676112,35.318786,NaN
Luxembourg,NaN,NaN,10.825364,NaN,11.533833,19.000729,NaN,NaN,NaN,NaN,...,NaN,20.800917,NaN,54.051998,21.268853,NaN,NaN,10.852548,17.000872,12.547365
Netherlands,38.734046,38.427263,8.860601,35.669714,4.008415,11.737751,26.594109,34.135454,24.599202,13.277115,...,29.070568,12.795490,26.961963,36.541580,13.953968,22.051132,3.193508,10.906617,13.000398,12.568267
Poland,33.619162,NaN,23.699151,7.690545,24.254184,NaN,13.522997,NaN,NaN,33.853398,...,12.834480,32.201623,10.300113,57.014507,21.806137,NaN,25.291510,22.456695,22.638061,16.099762
Portugal,NaN,42.059881,41.611405,NaN,39.463155,31.550826,NaN,12.395798,NaN,NaN,...,NaN,32.020698,NaN,1.729172,52.264704,NaN,NaN,39.394640,51.430086,NaN
Romania,NaN,99.597628,32.991363,48.315357,37.544752,NaN,NaN,58.554384,NaN,61.720826,...,NaN,41.208931,NaN,65.476386,41.053114,NaN,NaN,31.616821,37.790908,32.218581
Slovakia,NaN,NaN,17.406001,NaN,21.249073,NaN,NaN,NaN,NaN,NaN,...,NaN,23.695777,NaN,51.373441,29.984620,NaN,NaN,23.196105,28.646429,NaN
Slovenia,NaN,16.803651,24.999584,NaN,25.488364,44.083973,37.262558,NaN,NaN,NaN,...,NaN,29.129327,NaN,55.358821,48.590788,44.015469,NaN,21.012757,35.818766,NaN
Spain,NaN,40.101035,41.090922,57.158388,41.365115,19.621960,NaN,8.105701,NaN,NaN,...,NaN,27.688600,NaN,32.468765,50.386233,11.692742,NaN,34.608484,43.522331,NaN
Sweden,18.534644,9.629652,25.138182,185.965241,20.649315,34.062886,18.579966,44.116758,158.324823,10.032219,...,18.638747,29.819596,13.548747,51.892833,27.722087,35.471307,2.550157,24.446412,21.652989,19.061363
United Kingdom of Great Britain and Northern Ireland,NaN,43.902021,28.836673,47.491885,20.352845,10.912532,36.058795,32.468536,15.817526,16.175630,...,24.835807,21.269727,4.520494,42.553408,35.921730,19.818966,6.454183,28.343150,31.282420,18.763601

## The minimum latency for each country

In [4]:
df_final.min(axis=1)

Country
Austria                                                   2.715995
Belgium                                                   1.446367
Bulgaria                                                 12.984955
Croatia                                                  11.126990
Cyprus                                                  106.234629
Czechia                                                   0.802876
Denmark                                                   1.169748
Estonia                                                   1.457398
Finland                                                   1.230155
France                                                    2.867094
Germany                                                   3.573851
Greece                                                   14.395791
Hungary                                                   5.218637
Ireland                                                   3.787307
Italy                                                     2.601187
Latvia                                                    0.962479
Lithuania                                                 0.693350
Luxembourg                                                4.538076
Netherlands                                               2.034900
Poland                                                    1.021413
Portugal                                                  1.416076
Romania                                                   3.888023
Slovakia                                                  0.666608
Slovenia                                                 11.277749
Spain                                                     3.719392
Sweden                                                    0.929297
United Kingdom of Great Britain and Northern Ireland      2.178014
dtype: float64

## Calculating average latency for each country

In [65]:
# Change pivot columns, easier to calculate avg per country

final_df = df_fin.pivot_table('latency', 'ASN', 'Country')

In [66]:
# Calculate avg latency for each country
# The average latency means that this is the average latency to reach this country.

for col in final_df.columns:
    avg = 0
    count = 0
    for val in final_df[col]:
        if val != 0:
            avg += val
            count += 1
    print(col + ", " + str(avg/count))

Austria, 43.508257458062424
Belgium, 28.203687076005053
Bulgaria, nan
Croatia, nan
Cyprus, nan
Czechia, nan
Denmark, nan
Estonia, nan
Finland, nan
France, nan
Germany, 30.468190317461755
Greece, nan
Hungary, nan
Ireland, nan
Italy, nan
Latvia, nan
Lithuania, nan
Luxembourg, nan
Netherlands, 24.952344725781078
Poland, nan
Portugal, nan
Romania, nan
Slovakia, nan
Slovenia, nan
Spain, nan
Sweden, 35.22241898782231
United Kingdom of Great Britain and Northern Ireland, nan

In [77]:
#Convert NA to mean to obtain the average values for all countries 
final_df2 = final_df.apply(lambda x: x.fillna(x.mean())) 
final_df2.head()

Country,Austria,Belgium,Bulgaria,Croatia,Cyprus,Czechia,Denmark,Estonia,Finland,France,...,Luxembourg,Netherlands,Poland,Portugal,Romania,Slovakia,Slovenia,Spain,Sweden,United Kingdom of Great Britain and Northern Ireland
ASN,,,,,,,,,,,,,,,,,,,,,
AS12552,36.619357,50.259722,53.232728,48.048611,150.603838,30.653149,26.063465,48.714345,23.065994,28.377659,...,31.130479,38.734046,33.619162,48.626626,50.631104,41.028110,44.226932,45.532176,18.534644,32.697259
AS12637,41.767681,71.802510,53.232728,18.530777,150.603838,30.653149,34.480287,48.714345,43.774014,42.549810,...,31.130479,38.427263,34.401718,42.059881,99.597628,41.028110,16.803651,40.101035,9.629652,43.902021
AS12676,26.752958,12.456738,37.829343,28.010374,143.658009,14.394430,19.192033,33.229430,29.330239,17.585874,...,10.825364,8.860601,23.699151,41.611405,32.991363,17.406001,24.999584,41.090922,25.138182,28.836673
AS12824,69.742375,30.749242,37.680070,48.048611,150.603838,30.653149,41.878052,48.714345,55.988755,39.891105,...,31.130479,35.669714,7.690545,48.626626,48.315357,41.028110,44.226932,57.158388,185.965241,47.491885
AS12859,20.700903,10.999918,41.307183,29.112300,140.625904,19.078124,18.472366,34.570361,34.504551,18.830226,...,11.533833,4.008415,24.254184,39.463155,37.544752,21.249073,25.488364,41.365115,20.649315,20.352845

In [78]:
# Calculate avg latency for each country
# The average latency means that this is the average latency to reach this country.

for col in final_df2.columns:
    avg = 0
    count = 0
    for val in final_df2[col]:
        if val != 0:
            avg += val
            count += 1
    print(col + ", " + str(avg/count))

Austria, 43.508257458062424
Belgium, 28.203687076005053
Bulgaria, 53.23272833293965
Croatia, 48.04861101347622
Cyprus, 150.6038375393496
Czechia, 30.653148503835222
Denmark, 34.48028741992613
Estonia, 48.714345215683984
Finland, 43.774014053762976
France, 28.377659175186167
Germany, 30.468190317461755
Greece, 64.23782282901065
Hungary, 41.242103736350735
Ireland, 37.95326785301388
Italy, 37.46602313564135
Latvia, 46.45373207934853
Lithuania, 45.29838262182955
Luxembourg, 31.130479213132226
Netherlands, 24.952344725781078
Poland, 34.401717783861784
Portugal, 48.62662604205458
Romania, 50.631103698223995
Slovakia, 41.02811037577967
Slovenia, 44.22693156789418
Spain, 45.532176445025435
Sweden, 35.22241898782231
United Kingdom of Great Britain and Northern Ireland, 32.69725918780929

### APPENDIX ###

In [69]:
# May be used for later, if avg latency within country needs to be calculated...

unique_ASN = fin_df["ASN"].unique()

ASN_country = {}

for i in unique_ASN:
    for j in range(len(EUDATA)):
        if i == EUDATA["ASN"][j]:
            ASN_country[i] = EUDATA["Country"][j]

In [70]:
# Per AS, the avg latency is taken
# Subsequently, AS's corresponding country is determined
# All the values of this country are summed and averaged.
# If we have the avg latency per country
# this is divided by nr of as

avg_lat = pd.DataFrame()
countries = []
average_asn = []

for col in df_final.columns:
    country = ASN_country[col]
    avg = 0
    count = 0
    for val in df_final[col]:
        if val != 0:
            avg += val
            count += 1
    countries.append(country)
    average_asn.append((avg/count))

In [71]:
avg_lat["Country"] = countries
avg_lat["Average"] = average_asn

In [72]:
print(len(avg_lat))
avg22 = avg_lat.sort_values(['Country']).reset_index()
del avg22['index']
avg33 = pd.DataFrame()
avg33 = avg22.groupby('Country').count()
avg44 = avg22.groupby('Country').mean()
averages = pd.merge(avg33, avg44, on="Country")
print(averages)

163
         Average_x  Average_y
Country
AT               1  35.442276
BE               1  31.686080
BG               0        NaN
CZ               3  33.395140
DE              11  33.343201
DK               3  39.206852
EE               1  43.522619
ES               1  49.506455
FI               0        NaN
FR               5  57.415689
GB               5  98.818680
HR               0        NaN
HU               0        NaN
IE               1  45.875869
IT               1  46.448031
LT               0        NaN
LU               0        NaN
LV               0        NaN
NL               6  57.667487
PL               0        NaN
PT               2  55.492772
RO               1  31.534638
SE               0        NaN
SK               1  34.326578

In [73]:
# Destination countries stored in a list

full = []

for col in final_df.columns:
    full.append(col)
    
print(len(full))

27

In [74]:
valuec = EUDATA["Country"].value_counts()
print(valuec)

DE    36
NL    23
GB    21
FR    17
CZ    10
SE     7
DK     7
ES     6
RO     4
PT     4
LT     4
HU     3
IT     3
BE     3
EE     3
PL     3
BG     2
SK     2
AT     2
LV     1
HR     1
CY     1
IE     1
FI     1
LU     1
Name: Country, dtype: int64

In [75]:
### Convert countries to full names

abbr = EUDATA["Country"].unique()
abr = sorted(abbr)
print(len(abr))

print(full, abr)

25
['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'United Kingdom of Great Britain and Northern Ireland'] ['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GB', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'NL', 'PL', 'PT', 'RO', 'SE', 'SK']